.pelcro-auth-overlay {
  display: none;
}

.pelcro-auth-overlay.pelcro-overlay-visible {
  display: block;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000000;
}

.pelcro-auth-overlay-inner {
  display: none;
  height: 20%;
  margin-top: 40%;
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.pelcro-auth-overlay.pelcro-overlay-visible.login .pelcro-auth-overlay-inner.pelcro-auth-login {
  display: block;
}

.pelcro-auth-overlay.pelcro-overlay-visible.logout .pelcro-auth-overlay-inner.pelcro-auth-logout {
  display: block;
}

.pelcro-auth-overlay.pelcro-overlay-visible.update .pelcro-auth-overlay-inner.pelcro-auth-update {
  display: block;
}
