{#
/**
 * @file
 * Default theme implementation for pelcro_auth loading overlay.
 *
 * Available variables:
 * - text: text to display
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'pelcro-auth-overlay'
  ]
%}
<div{{ attributes.addClass(classes) }} id="pelcro-auth-overlay" aria-hidden="true">
    <div class = 'pelcro-auth-overlay-inner pelcro-auth-login'>
      <p>{{ logintext ?: "Logging you in." }}</p>
    </div>
  <div class = 'pelcro-auth-overlay-inner pelcro-auth-logout'>
    <p>{{ logouttext ?: "Logging you out." }}</p>
  </div>
  <div class = 'pelcro-auth-overlay-inner pelcro-auth-update'>
    <p>{{ updatetext ?: "Updating your account." }}</p>
  </div>
</div>

